<h1><%= @input %></h1>
<h5><%= @news.count %> results</h5>
<% for i in 0..9 do %>
    <% if @news[i] != nil %>
        <img src="<%= @news[i].image %>" alt="Image">
        <h2><%= link_to @news[i].headline, @news[i].link %></h2>
        <h2><%= @news[i].headline %></h2>
        <h3><%= @news[i].description %></h3>
        <h5>Source: <%= @news[i].source %></h5>
        <h5>Published: <%= @news[i].datetime %></h5>
        <h5><%= @news[i].content %></h5>
    <% end %>
<% end %>